@import 'tailwindcss';
@import 'uniwind';

@import 'heroui-native/styles';

@source './node_modules/heroui-native/lib';

@theme {
    --color-l: rgb(246, 0, 0);
    --color-background: #1a1a1a;
    --color-inner-background: #3B3642;
    --color-text: #FFFFFF;
    --color-muted-text: #888888;
    --color-primary-accent: #A082FF;
    --color-accent-hover: #C8B8FF;
    --color-highlight: #7cb87c;
    --color-border: #FFFFFF;
    --color-subtle-border: #444444;
    --color-inverted-sections: #1a1a1a;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translate(-50%, -40%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}